body {
	position: relative;
}

html {
}

.bg {
	height: 100%;
	padding-top: 70px;
}

.sushibase {
	height: 2100px;
	width: 100%;
	background-color: #d22f27;
	position: absolute;
}

.sushibg {
	height: 100%;
	width: 100%;
	position: absolute;
}

.sushi1 {
	background-image: url("sushibgsmall.png");
}

.sushi2 {
	background-image: url("sushibglarge.png");
}


section {
	height: 100%;
	position: relative;
	text-align: center;
}

section#one {
	background-color: rgba(255,255,255,.9);
}

section#two {
	background-color: rgba(255,255,255,.7);
}

section#three {
	background-color: rgba(255,255,255,.9);
}


.header {
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: white;
	z-index: 1;
}

.navmenu {
	background-color: rgba(255,255,255,1);
	width: 20%;
	position: fixed;
	z-index: 1;
}

.profilepic {
	width: 150px;
}

.img-circle {
    border-radius: 50%;
}