.bg {
	
	margin-top: 50px;
}

.header {
	background-color: white;
}

body {
	background-color: lightgray;	
}

.navmenu {
	background-color: pink;
}

.content {
	background-color: lightblue;
}

.profilepic {
	width: 140px;
}